#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define DEFAULT_LAYER   0
#define SECONDARY_LAYER 1
#define TERTIARY_LAYER  2
#define SYSTEM_LAYER    3
#define MOUSE_R_LAYER   4
#define SCROLL_R_LAYER  5
#define MOUSE_L_LAYER   6
#define SCROLL_L_LAYER  7

// Mouse Scroll Value

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100

// cirque trackpad input&layer control

&glidepoint_listener_R {
    input-processors =
        <&zip_xy_transform (INPUT_TRANSFORM_XY_SWAP | INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>,
        <&zip_xy_scaler 2 2>,
        <&zip_temp_layer MOUSE_R_LAYER 300>;

    lowspeedmode {
        layers = <SECONDARY_LAYER>;
        input-processors =
            <&zip_xy_transform (INPUT_TRANSFORM_XY_SWAP | INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>,
            <&zip_xy_scaler 3 5>,
            <&zip_temp_layer MOUSE_R_LAYER 300>;
    };

    scroller {
        layers = <SCROLL_R_LAYER>;
        input-processors =
            <&zip_xy_to_scroll_mapper>,
            <&zip_scroll_transform (INPUT_TRANSFORM_XY_SWAP | INPUT_TRANSFORM_Y_INVERT)>,
            <&zip_scroll_scaler 1 32>;
    };
};

&glidepoint_listener_L {
    input-processors =
        <&zip_xy_transform (INPUT_TRANSFORM_XY_SWAP | INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>,
        <&zip_xy_scaler 3 2>,
        <&zip_temp_layer MOUSE_L_LAYER 300>;

    lowspeedmode {
        layers = <TERTIARY_LAYER>;
        input-processors =
            <&zip_xy_transform (INPUT_TRANSFORM_XY_SWAP | INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>,
            <&zip_xy_scaler 3 4>,
            <&zip_temp_layer MOUSE_L_LAYER 300>;
    };

    scroller {
        layers = <SCROLL_L_LAYER>;
        input-processors =
            <&zip_xy_to_scroll_mapper>,
            <&zip_scroll_transform (INPUT_TRANSFORM_XY_SWAP | INPUT_TRANSFORM_Y_INVERT)>,
            <&zip_scroll_scaler 1 32>;
    };
};

&mt { quick-tap-ms = <200>; };

&lt { quick-tap-ms = <200>; };

/ {
    behaviors {
        // Encoder to Mouse Scroll

        scroll_up_down: behavior_sensor_rotate_mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

            tap-ms = <20>;
        };

        scroll_down_up: behavior_sensor_rotate_mouse_wheel_down_up {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

            tap-ms = <20>;
        };

        scroll_left_right: behavior_sensor_rotate_mouse_wheel_left_right {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_LEFT>, <&msc SCRL_RIGHT>;

            tap-ms = <20>;
        };

        scroll_right_left: behavior_sensor_rotate_mouse_wheel_right_left {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_RIGHT>, <&msc SCRL_LEFT>;

            tap-ms = <20>;
        };

        volume_up_down: behavior_sensor_rotate_volume_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&kp C_VOLUME_UP>, <&kp C_VOLUME_DOWN>;

            tap-ms = <20>;
        };

        mt2: mod_tap2 {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };

        clck: caps_lock {
            compatible = "zmk,behavior-tap-dance";
            label = "CAPS_LOCK";
            #binding-cells = <0>;
            bindings = <&kp CLCK>, <&kp CLCK>;

            tapping-term-ms = <100>;
        };

        commaexcl: comma_exclamation {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_EXCLAMATION";
            bindings = <&kp COMMA>, <&kp EXCL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        prdqmark: period_question-mark {
            compatible = "zmk,behavior-mod-morph";
            label = "PERIOD QUESTION-MARK";
            bindings = <&kp PERIOD>, <&kp QMARK>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        underbs: underscore_backslash {
            compatible = "zmk,behavior-mod-morph";
            label = "UNDERSCORE_BACKSLASH";
            bindings = <&kp UNDER>, <&kp BACKSLASH>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            keep-mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        COMBO_TAB {
            bindings = <&kp TAB>;
            key-positions = <0 1>;
        };

        COMBO_BSPC {
            bindings = <&kp BSPC>;
            key-positions = <8 9>;
        };
    };

    macros {
        MACRO_LTAP: MACRO_LTAP {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&mkp LCLK>;
            label = "MACRO_LTAP";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        DEFAULT_LAYER {
            display-name = "Default";
            sensor-bindings = <&scroll_down_up>, <&scroll_up_down>;

            bindings = <
&kp Q      &kp W            &kp E  &kp R        &kp T      &kp Y        &kp U        &kp I       &kp O      &kp P
&kp A      &kp S            &kp D  &kp F        &kp G      &kp H        &kp J        &kp K       &kp L      &kt ENTER
&kp Z      &kp X            &kp C  &kp V        &kp B      &kp N        &kp M        &commaexcl  &prdqmark  &underbs
&kp LCTRL  &mt LSHIFT CLCK         &lt 2 SPACE  &lt 1 DEL  &lt 1 MINUS  &lt 2 SPACE              &kp LWIN   &lt 3 ESC
            >;
        };

        FIRST_LAYER {
            display-name = "First";
            sensor-bindings = <&none>, <&none>;

            bindings = <
&kp GRAVE        &kp KP_NUMBER_0  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp HASH  &kp DLLR  &kp PRCNT  &kp AMPS      &kp AT
&kp KP_MULTIPLY  &kp KP_PLUS      &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp LPAR  &kp RPAR  &kp LBRC   &kp RBRC      &kp LBKT
&kp KP_DIVIDE    &kp KP_MINUS     &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp DQT   &kp SQT   &kp COMMA  &kp PERIOD    &kp RBKT
&trans           &trans                            &trans           &trans           &trans    &trans               &kp LEFT_ALT  &kp KP_PLUS
            >;
        };

        SECOND_LAYER {
            display-name = "Second";
            bindings = <
&kp HOME          &kp UP       &kp END           &kp PAGE_UP    &kp LC(LS(TAB))  &kp F7        &kp F9         &kp F10           &kp F11            &kp F12
&kp LEFT          &kp DOWN     &kp RIGHT         &kp PAGE_DOWN  &kp LC(TAB)      &kp F2        &kp F3         &kp F4            &kp F5             &kp F6
&kp LC(LG(LEFT))  &kp LG(TAB)  &kp LC(LG(LEFT))  &kp LA(LEFT)   &kp LA(RIGHT)    &kp LG(LEFT)  &kp LG(RIGHT)  &kp LS(LG(LEFT))  &kp LS(LG(RIGHT))  &kp PIPE
&trans            &trans                         &trans         &kp PSCRN        &trans        &trans                           &trans             &trans
            >;

            sensor-bindings = <&none>, <&none>;
        };

        THIRD_LAYER {
            display-name = "Third";
            bindings = <
&none                 &none              &none         &none                 &none                  &kp LC(LS(ESC))  &none          &kp C_VOL_UP  &none          &none
&none                 &kp AMPERSAND      &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LC(LA(DEL))  &kp C_PREV     &kp C_PLAY    &kp C_NEXT     &none
&mt LEFT_SHIFT TILDE  &kp DOUBLE_QUOTES  &kp COLON     &kp LEFT_BRACE        &none                  &kp LC(LS(END))  &kp C_BRI_INC  &kp C_VOL_DN  &kp C_BRI_DEC  &none
&trans                &trans                           &trans                &trans                 &trans           &trans                       &trans         &trans
            >;

            sensor-bindings = <&none>, <&none>;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
